.main-page {
  text-align: center;
  color: snow;
}
header {
  background-color: whitesmoke;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: rgb(72, 120, 40);
  margin: 0;
  border-bottom: 5px solid darkred;
  z-index: 1000;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  list-style-type: none;

}
nav ul li a {
  color: snow;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
}
nav ul li a:hover {
  font-size: 1.5rem;

}
nav ul li a:focus {
  font-size: 1.5rem;
  text-decoration: underline;
}

/* styling for mobile units */

@media (max-width: 768px) {
  nav {
    height: auto;
  }
  .menu-icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  nav ul {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #487828;
    padding: 10px;
  }
  nav ul.active {
    display: flex;
  }
}

/* hide mobile menu for desktop */

@media (min-width: 769px) {
  .menu-icon {
    display: none;
  }
}