.main-page {
  text-align: center;
  color: snow;
  width: 100vw;
}
header {
  background-color: whitesmoke;
}
nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  background-color: rgb(72, 120, 40);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 10px 0;
  border-bottom: 5px solid darkred;
  z-index: 1000;
}
/* fejka en dubbel border-bottom med pseudoelement. Lägger sig ovanför border-bottom */
nav::after {
  content: ""; /* Nödvändigt för att skapa ett pseudo-element */
  position: absolute;
  bottom: 0; /* Placera den direkt under nav */
  left: 0;
  right: 0;
  height: 5px; /* Höjd på den andra gränsen */
  background-color: snow; /* Färg för den andra gränsen */
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  list-style-type: none;

}
nav ul li a {
  color: snow;
  font-weight: bold;
  font-size: 1.3rem;
  text-decoration: none;
}
nav ul li a:hover {
  font-size: 1.5rem;

}
nav ul li a:focus {
  font-size: 1.5rem;
  text-decoration: underline;
}

/* styling for mobile units */

@media (max-width: 768px) {
  nav {
    height: auto;
  }
  .menu-icon {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
.menu-icon .menu-text {
  display: block;
  font-size: 14px;
  margin-top: 2px;
  color: snow;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
}

  nav ul {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #487828;
    padding: 10px;
  }
  nav ul.active {
    display: flex;
  }
}

/* hide mobile menu for desktop */

@media (min-width: 769px) {
  .menu-icon {
    display: none;
  }
}