.christmas-card {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/night_bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;
  }

  .greeting-container {
   background-color: whitesmoke;
   padding: 15px 20px;
   border-radius: 15px;
   box-shadow: 0 0 15px rgba(57, 87, 106, 0.5), /* Skugga med #39576a */
   0 0 30px rgba(57, 87, 106, 0.3), 
   0 0 45px rgba(57, 87, 106, 0.1);
   background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(57, 87, 106, 0) 100%
    );
  

  }

 .greeting-container h1 {
   font-size: 5rem;
   color: red;
   margin-bottom: 2px;
   margin-top: 0px;

 }

 .greeting-container p {
    font-size: 3rem;
    font-weight: bold;
    color: #2e3207;
    margin: 0 35px;
    padding: 5px 25px;
 }

 .greeting-content {
   margin-top: 15px;
   background-color: whitesmoke;
   padding: 15px 30px;
   border-radius: 15px;
   box-shadow: 0 0 15px rgba(57, 87, 106, 0.5), /* Skugga med #39576a */
   0 0 30px rgba(57, 87, 106, 0.3), 
   0 0 45px rgba(57, 87, 106, 0.1);
   background: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.9) 80%,
      rgba(57, 87, 106, 0) 100%
    );

   
 }
 .greeting-content p {
   color: #2e3207;
   font-size: 1.2rem;
 }

 @media (max-width: 768px) {
  .christmas-card {
    padding: 10px;
  }
 }