/* Grundläggande styling för MemoryGame */

.memory-game {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  background-image: url("/tree_bg.jpg"); /* Specifik bakgrundsbild för MemoryGame */
  background-size: cover;
  background-position: center;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Skugga runt spelet */
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Gör att bakgrunden täcker hela höjden av skärmen */
}

/* Styling för brädet */
.memory-board {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  gap: 10px;
  justify-content: center;
}

/* Styling för varje kort */
.card {
  width: 70px;
  height: 70px;
  background-image: url(/memoryimages/memory_cardback.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.card.flipped {
  background-color: #fff;
  background-image: none;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 5px green;
}

.card img {
  width: 75%;
  height: 75%;
  object-fit: cover;
}
.memory-game h1 {
  font-size: 2em; /* Justera storleken efter behov */
  margin-bottom: 20px; /* Avstånd mellan rubriken och spelet */
  color: red;
  background-color: #fff; /* Bakgrundsfärg för texten */
  width: 280px;
  height: 50px;
  padding: 15px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(57, 87, 106, 0.5),
    0 0 30px rgba(57, 87, 106, 0.3),
    0 0 45px rgba(57, 87, 106, 0.1);

  /* Radial gradient för bakgrundseffekt */
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(57, 87, 106, 0) 100%
  );
}

.reset-btn {
  height: 45px;
  width: 310px;
  margin-top: 25px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: green;
  color: whitesmoke;
  border: 1px solid green;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(245, 245, 245, 0.9), 0 0 30px rgba(0, 255, 0, 0.5);
  transition: all 0.3s ease;
}
.reset-btn:hover {
  background-color: red;
  border: 1px solid red;
  box-shadow: 0 0 20px rgba(245, 245, 245, 0.7), 0 0 40px rgba(255, 0, 0, 0.5);
 /* transform: scale(1.02); */
}

